<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartbracelet.sunny.sunnydemo2">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- -->
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="sunnydemo2.AppApplication"
        android:theme="@style/SampleTheme.Light"
        tools:replace="android:theme,name">
        <activity
            android:name="sunnydemo2.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="sunnydemo2.network.XutilsNetWorkActivity"/>
        <activity android:name="sunnydemo2.network.OkHttpNetWorkActivity"/>

        <activity android:name="sunnydemo2.ad.MainActivity"/>
        <activity android:name="sunnydemo2.ad.ComprassViewActivity"/>
        <activity android:name="sunnydemo2.ad.TextLinkifyActivity"/>

        <activity android:name="sunnydemo2.ad.ui.activitystartmode.ActivityA"
            android:launchMode="singleTask"/>
        <activity android:name="sunnydemo2.ad.ui.activitystartmode.ActivityB"
            android:launchMode="singleTop"/>
        <activity android:name="sunnydemo2.ad.ui.activitystartmode.ActivityC"
            android:launchMode="singleInstance"/>
        <activity android:name="sunnydemo2.ad.ui.activitystartmode.ActivityD"/>
        <activity android:name="sunnydemo2.ad.ui.activitystartmode.ActivityE"/>
        <activity android:name="sunnydemo2.ad.ui.activitystartmode.ActivityStartMode"/>
        <activity android:name="sunnydemo2.ad.ui.ble.SunnyBLEActivity"/>
        <activity android:name="sunnydemo2.ad.ui.CarouselADActivity"/>
        <activity android:name="sunnydemo2.ad.ui.newproperties.NewPropertiesActivity"/>
        <activity android:name="sunnydemo2.ad.ui.newproperties.PullToRefreshLayout"/>
        <activity android:name="sunnydemo2.ad.ui.view.VerticalViewPagerActivity"/>


        <activity android:name="sunnydemo2.bargraph.BarGraphActivity"/>
        <activity android:name="sunnydemo2.bargraph.CurveChartActivity"/>
        <activity android:name="sunnydemo2.bargraph.DivisionCircle2Activity"/>
        <activity android:name="sunnydemo2.bargraph.DivisionCircleActivity"/>


        <activity android:name="sunnydemo2.androidl.AndroidLActivity"/>
        <activity android:name="sunnydemo2.androidl.TintActivity"/>
        <activity android:name="sunnydemo2.androidl.CardViewActivity"/>
        <activity android:name="sunnydemo2.androidl.PaletteActivity"/>
        <activity android:name="sunnydemo2.androidl.RippleDrawableActivity"/>
        <activity android:name="sunnydemo2.androidl.ToolbarActivity"/>
        <activity android:name="sunnydemo2.androidl.TestPrefeerenceActivity"/>



        <!--图片加载-->
        <activity android:name="sunnydemo2.imageloader.PictureLoaderFrameActivity"/>
        <activity android:name="sunnydemo2.imageloader.ImageLoaderActivity"/>
        <activity android:name="sunnydemo2.imageloader.FrescoActivity"/>
        <activity android:name="sunnydemo2.imageloader.GlideActivity"/>
        <activity android:name="sunnydemo2.imageloader.SunnyImageLoaderActivity"/>
        <activity android:name="sunnydemo2.imageloader.ChoosePictureActivity"/>

        <!--图文混排-->
        <activity android:name="sunnydemo2.imagetext.ImageTextActivity"/>

        <activity android:name="sunnydemo2.rxjava.RxJavaActivity"/>

        <!--下拉刷新-->
        <activity android:name="sunnydemo2.pulltofresh.SunnyPullToFreshActivity"/>

        <!--分享-->
        <activity android:name="sunnydemo2.sharesdk.SunnyShareActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--Android 弹幕-->
        <activity android:name="sunnydemo2.danmuku.DanmuKuActivity"/>

        <!--TTS和语音识别-->
        <activity android:name="sunnydemo2.tts.TTSActivity"/>
        <activity android:name="sunnydemo2.tts.RecognizerIntentActivity"/>

        <!--Android MVP模式-->
        <activity android:name="sunnydemo2.mvp.presenter.LoginAtyPresenter"/>


        <!-- ====================分享开始 ========================== -->
        <!-- 分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--这里要把222222替换成自己在腾讯开放平台注册的appId-->
                <data android:scheme="tencent1104541762" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>

        <!-- sinaweibo -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />
        <!-- =====================分享结束=========================== -->

        <service android:name="sunnydemo2.service.SunnyService"
            android:enabled="true"
            android:permission="com.paad.MY_SERVICE_PERMISSION">
        </service>


        <!--第三方平台id-->
        <meta-data android:name="WeixinAppID"
            android:value="wxe46768b16f799372"
            />
        <meta-data android:name="SinaAppID"
            android:value="380422110"/>
        <meta-data android:name="QQID"
            android:value="1104541762"/>
    </application>

</manifest>
